$font-family: unquote("Roboto");

$headline1: (
  font-family: $font-family,
  font-size: 96
);
$headline2: (
  font-family: $font-family,
  font-size: 60
);
$headline3: (
  font-family: $font-family,
  font-size: 48
);
$headline4: (
  font-family: $font-family,
  font-size: 34
);
$headline5: (
  font-family: $font-family,
  font-size: 24
);
$headline6: (
  font-family: $font-family,
  font-size: 20
);
$body1: (
  font-family: $font-family,
  font-size: 16
);
$body2: (
  font-family: $font-family,
  font-size: 14
);
$subtitle1: (
  font-family: $font-family,
  font-size: 16
);
$subtitle2: (
  font-family: $font-family,
  font-size: 14
);
$button: (
  font-family: $font-family,
  font-size: 14
);
$overline: (
  font-family: $font-family,
  font-size: 10
);
$caption: (
  font-family: $font-family,
  font-size: 12
);